{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2017",
    "externalHelpers": false,
    "keepClassNames": true,
    "baseUrl": "src",
    "paths": {
          "@src/*": ["*"],
          "@constants/*": ["constants/*"],
          "@interfaces/*": ["interfaces/*"],
          "@mongoose/*": ["mongoose/*"],
          "@libs/*": ["libs/*"],
          "@config": ["libs/config"],
          "@helper/*": ["libs/helper/*"],
          "@scripts/*": ["scripts/*"],
    },
  },
  "minify": true,
  "module": {
      "type": "commonjs"
   }
}
